html,
 body {
   min-height: 90vh;
   padding-left: 120px;
   padding-right: 120px;
   margin: 0;
   background: #2E282A;
 }

 button {
   background: none;
   border: none;
 }

 button::-moz-focus-inner {
   border: 0;
 }

 :focus {
   outline: none;
 }

 ::-moz-focus-inner {
   border: 0;
 }

 .btn-nav:hover {
   cursor: pointer;

 }

 .btn-nav:hover .bar {
   background: #17BEBB;
 }

 .bar {
   display: block;
   height: 5px;
   width: 50px;
   background: #fff;
   margin: 10px auto;
 }

 .btn-nav {
   display: block;
   padding: 15px 0;
   width: 50px;
   position: fixed;
   left: 20px;
   margin: 0 auto;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
 }

 .btn-nav:focus {
   outline: none;
 }

 .middle {
   margin: 0 auto;
 }

 .bar {
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
 }

 .animated {
   z-index: 999;
 }

 .animated .arrow-top-r {
   -webkit-transform: rotateZ(-45deg) translateY(11px);
   -moz-transform: rotateZ(-45deg) translateY(11px);
   -ms-transform: rotateZ(-45deg) translateY(11px);
   -o-transform: rotateZ(-45deg) translateY(11px);
   transform: rotateZ(-45deg) translateY(11px);
   width: 25px;
 }

 .animated .arrow-middle-r {
   -webkit-transform: translateX(25px);
   -moz-transform: translateX(25px);
   -ms-transform: translateX(25px);
   -o-transform: translateX(25px);
   transform: translateX(25px);
 }

 .animated .arrow-bottom-r {
   -webkit-transform: rotateZ(45deg) translateY(-11px);
   -moz-transform: rotateZ(45deg) translateY(-11px);
   -ms-transform: rotateZ(45deg) translateY(-11px);
   -o-transform: rotateZ(45deg) translateY(-11px);
   transform: rotateZ(45deg) translateY(-11px);
   width: 25px;
 }
 .animated .arrow-top-l {
   -webkit-transform: rotateZ(45deg) translateY(11px);
   -moz-transform: rotateZ(45deg) translateY(11px);
   -ms-transform: rotateZ(45deg) translateY(11px);
   -o-transform: rotateZ(45deg) translateY(11px);
   transform: rotateZ(45deg) translateY(11px);
   width: 25px;
 }

 .animated .arrow-middle-l {
   -webkit-transform: translateX(-25px);
   -moz-transform: translateX(-25px);
   -ms-transform: translateX(-25px);
   -o-transform: translateX(-25px);
   transform: translateX(-25px);
 }

 .animated .arrow-bottom-l {
   -webkit-transform: rotateZ(-45deg) translateY(-11px);
   -moz-transform: rotateZ(-45deg) translateY(-11px);
   -ms-transform: rotateZ(-45deg) translateY(-11px);
   -o-transform: rotateZ(-45deg) translateY(-11px);
   transform: rotateZ(-45deg) translateY(-11px);
   width: 25px;
 }

 .nav-container {
   position: absolute;
   left: -50%;
   top: 0;
   background: #CD5334;
   width: 150px;
 }


 .fa {
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
 }

 @keyframes showNav-l {
   from {
     left: -100%;
   }
   to {
     left: 0;
   }
 }

 @-webkit-keyframes showNav-l {
   from {
     left: -100%;
   }
   to {
     left: 0;
   }
 }

 @-moz-keyframes showNav-l {
   from {
     left: -100%;
   }
   to {
     left: 0;
   }
 }

 @-o-keyframes showNav-l {
   from {
     left: -100%;
   }
   to {
     left: 0;
   }
 }

 .showNav-l {
   -webkit-animation: showNav-l .5s ease forwards;
   -moz-animation: showNav-l 1s ease forwards;
   -o-animation: showNav-l 1s ease forwards;
   animation: showNav-l .5s ease forwards;
 }

 @keyframes hideNav-l {
   from {
     left: 0;
   }
   to {
     left: -100%;
   }
 }

 @-webkit-keyframes hideNav-l {
   from {
     left: 0;
   }
   to {
     left: -100%;
   }
 }

 @-moz-keyframes hideNav-l {
   from {
     left: 0;
   }
   to {
     left: -100%;
   }
 }

 @-o-keyframes hideNav-l {
   from {
     left: 0;
   }
   to {
     left: -100%;
   }
 }

 .hideNav-l {
   -webkit-animation: hideNav-l 1s ease forwards;
   -moz-animation: hideNav-l 1s ease forwards;
   -o-animation: hideNav-l 1s ease forwards;
   animation: hideNav-l 1s ease forwards;
   background: #2E282A;
 }

 @keyframes showNav-r {
   from {
     right: -100%;
   }
   to {
     right: 0;
   }
 }

 @-webkit-keyframes showNav-r {
   from {
     right: -100%;
   }
   to {
     right: 0;
   }
 }

 @-moz-keyframes showNav-r {
   from {
     right: -100%;
   }
   to {
     right: 0;
   }
 }

 @-o-keyframes showNav-r {
   from {
     right: -100%;
   }
   to {
     right: 0;
   }
 }

 .showNav-r {
   -webkit-animation: showNav-r .5s ease forwards;
   -moz-animation: showNav-r 1s ease forwards;
   -o-animation: showNav-r 1s ease forwards;
   animation: showNav-r .5s ease forwards;
 }

 @keyframes hideNav-r {
   from {
     right: 0;
   }
   to {
     right: -100%;
   }
 }

 @-webkit-keyframes hideNav-r {
   from {
     right: 0;
   }
   to {
     right: -100%;
   }
 }

 @-moz-keyframes hideNav-r {
   from {
     right: 0;
   }
   to {
     right: -100%;
   }
 }

 @-o-keyframes hideNav-r {
   from {
     right: 0;
   }
   to {
     right: -100%;
   }
 }

 .hideNav-r {
   -webkit-animation: hideNav-r 1s ease forwards;
   -moz-animation: hideNav-r 1s ease forwards;
   -o-animation: hideNav-r 1s ease forwards;
   animation: hideNav-r 1s ease forwards;
   background: #2E282A;
 }
 .hidden {

 }

 .jumbotron{
    min-height: 700px;
 }
